

.jumbotron {
    background-image: url(Lightning-HD-Desktop.jpg);
    background-size: cover;
}

.jumbotron h1 {
    font-family: 'Bangers', cursive;
    font-size: 70px;
    color: navajowhite;
}

.searchBox {
    background-color: aliceblue;
    color: black;
}

#inputCity {
    font-family: 'Bebas Neue', cursive;
    font-size: 26px;
}

.yourCities {
    font-family: 'Bebas Neue', cursive;
    font-size: 26px;
}

.card-body {
    background-color: aliceblue;
}

p {
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
}

.card-text span {
    font-family: 'Bangers', cursive;
    font-size: 20px;
    
}


#uv {
    margin: 10px;
    padding: 8px;
    border-radius: 10px;
    color: white;
  }
  .danger {
    background: #ff00b3;
    color: navajowhite;
  }
  .warning {
    background: red;
    color: navajowhite;
  }
  .warn {
    background: orange;
    color: navajowhite;
  }
  .caution {
    background: yellow;
    color: navajowhite;
  }
  .go {
    background: green;
    color: navajowhite;
  }

.forecast-container {
    background-color: aliceblue;
}

h3 {
    font-family: 'Bangers', cursive;
    font-size: 40px;
    color: black;
}